<div class="container wrapper">
  <select [(ngModel)]="selectedCustomer">
      <option [ngValue]="null" selected>All</option>
    <option *ngFor="let customer of customers" [ngValue]="customer">{{customer.name}}</option>

  </select>
  
  <div class="container wrapper">
        <select [(ngModel)]="selectedStatus">
            <option [ngValue]="null" selected>All</option>
            <option value="CONNECTED">CONNECTED</option>
            <option value="DISCONNECTED">DISCONNECTED</option>
      
        </select>

  <button (click)="searchVechiles()">Filter</button>
    <div class="row">

      <!-- Issue table -->
      <div class="col-md-12">
          <div class="inner">
              <h3>Vehicle</h3>
              <table class="table table-bordered">
                  <thead>
                      <tr>
                          <th scope="col">#</th>
                          <th scope="col">Customer name</th>
                          <th scope="col">VehicleId</th>
                          <th scope="col">Registeration Number</th>
                          <th scope="col">Status</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let vechile of vechiles;let i = index">
                          <th scope="row">{{i}}</th>
                          <td>{{vechile?.customer?.name}}</td>
                          <td>{{vechile?.vechileId}}</td>
                          <td>{{vechile?.registerationNumber}}</td>
                          <td>{{vechile?.lastStatus}}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>

  </div>
</div>